<footer class="row row-cols-5 py-3 my-3 border-top">
    <div class="col">
      <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="12"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <p class="text-muted">© MTL Events 2022 by Nathan Bellow</p>
    </div>
  </footer>
