<!-- For single marker on the map -->

<div id="map"
  data-markers="<%= @marker.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= javascript_include_tag 'map_box' %>
