<h1 class="events-edit-title">Edit Event</h1>

<%= render 'form', event: @event %>

<div class = "edit-links">
<%= link_to 'Show Page', @event, class:"btn btn-dark btn-sm" %> |
<%= link_to 'Back To Events', events_path, class:"btn btn-dark btn-sm" %>
</div>
