<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>The event <%= @event.title %> is tomorrow!</p>
    <p>
    Event details<br>
    --------------------------
    </p>
    <p>Id: <%= @event.id %></p>
    <p>Address: <%= @event.address %></p>
    <p>
    Description:<br>
    ----------
    </p>
    <p><%= @event.description %></p>
  </body>
</html>
